* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #002930;
}

section {
  background-color: rgba(0, 0, 0, 0.644);
  border: 1px solid rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.100);
  width: 335px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}

#tasks {
  border: 1px solid black;
  width: 307px;
  display: block;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

span {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#div-button {
  display: flex;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
}

.clean {
  background-color: lightcoral;
}

.add {
  background-color: lightgreen;
}

.mark {
  background-color: gray;
  display: block;
  font-size: larger;
  margin: 5px 0px 5px 0px;
  width: 256px;
  padding: 0px;
  color: black;
  list-style-type: none;
  align-items: center;
}

.margin {
  border-radius: 10px;
  margin: 4px;
  padding: 8px;
}


.li-tasks {
  background-color: rgba(255, 255, 255, 0.863);
  display: block;
  font-size: larger;
  margin: 5px 0px 5px 0px;
  width: 256px;
  padding: 0px;
  color: black;
  list-style-type: none;
  align-items: center;
}

.btn-li-clean {
  background-color: rgba(248, 184, 184, 0.801);
  border-radius: 0px 10px 10px 0px;
  border: 0px;
  margin: 5px 0px 5px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: initial;
  padding: 5px;
}

.btn-li-finish {
  background-color: lightgreen;
  border: 0px;
  border-radius: 10px 0px 0px 10px;
  margin: 5px 0px 5px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: initial;
  padding: 5px;
}

.finish {
  font-size: larger;
  text-decoration: line-through;
}